<div class="container">
    <img class="profile" src="/assets/me.jpg">
    <h1> Welcome to Hala's World</h1>
    <h2>Hala Khamam</h2>
    <h4>Spallartgasse 6 / 104 / 1140 Wien</h4>
    <h4>+43 688 644 388 90</h4>
    <h4>11 . 05 .1984   </h4>
    <h4>halakhamam@gmail.com   </h4>
    <h3>   Educational Background</h3>

    <ul>
        <li>Front-end Developer    2018-2019 - <a href="https://www.newaustriancodingschool.at/">New Austrian Coding
            School,Vienna,Austria</a></li>
        <li>Education Diploma        2009 – 2010 – Syrian Virtual University</li>
        <li>Bachelor of Translation 2001 – 2005 – English Department, Damascus University</li>
    </ul>
    <h3>   Professional Strength</h3>
    <ul>
        <li>Eager to learn and willing to experiment</li>
        <li>being able to adjust to the needs of your business or product when they change is important</li>
        <li>Quick learner with analytical Mindset interested in problem solving</li>
        <li>Passionate about learning and expanding own knowledge.</li>
        <li>Ability to communicate information to partners or co-workers in an effective manner</li>
        <li>Excellent interpersonal skills</li>
        <li>Have the ability to work in a multicultural environment</li>
        <li>Strong team player and great motivator</li>
        <li>Enthusiastic, talented, and creative</li>

    </ul>
    <h3>Programming Key Skills</h3>
    <ul>
        <li>HTML, CSS , Java, JavaScript,Angular</li>
        <li>Slack, Git, Github, Docker</li>
    </ul>

    <h3>Professional Experience  </h3>
    <h4>Schools:</h4>
    <ul class="experience-list">
        <li class="experience">
            <time>Sept. 2008 – Oct. 2015</time>
            <div>
                <span>Course leader, Coordinator & Teacher (English, Math, and Science)</span>
                <a href="    https://www.facebook.com/Bunatalajial-schools-1503464773302510/?eid=ARDV48KpotiVCka45kPUqw6jscQCIHf1vfiZPjF9ZOiHKwY9w1spwyBJL2aU3WcOBMIrjaM0VGoTWIPA&timeline_context_item_type=intro_card_work&timeline_context_item_source=100010445584724&fref=tag ">GB
                Schools </a>
            </div>
        </li>
    </ul>
    <li class="experience">
        <time>Aug. 2005 - June.2015</time>
        <div>
            <span>English & Science Teacher</span>
            <a href="https://www.facebook.com/LvsSyria/">LV School</a>
            <a href="    https://www.facebook.com/syrianmodernschool/">SM School</a>
        </div>
    </li>
    <h4>Language Centers:</h4>
    <ul>
        <li>2005- 2009         La Prima Center</li>
        <li>2005-2009 New Vision Center</li>
        <li>2007- 2015          BA Center</li>
        <li>2010- 2012 FL Center</li>
    </ul>
    <h3>Office Work:</h3>
    <ul>
        <li>2005 - 2006   Secretary of the Vice President for Academic Affairs Kalamoon University</li>
    </ul>
    <h4>Volunteer Work:</h4>
    <h5>Syria</h5>
    <ul>
        <li>Plan and go on regular visits to orphanages, camps, and IDP with students</li>
        <li>Help facilitate effective distribution of humanitarian aid to people in need</li>
        <li>Make different presentations to donors in different places</li>
        <li>Arrange meetings between people working on humanitarian field and students to develop their sense of humanity
        </li>
        <li>Help sponsor and adopt orphans</li>
        <li>Organize auctions and donate the proceeds</li>
    </ul>

    <h5>Austria</h5>
    <ul>
        <li>Participating in English lessons at NMS Badgrosspertholz School</li>
        <li>Preparing students for getting their KET exams (KEY English Test- Cambridge)</li>
        <li>Testing and improving students’ communication abilities through conversation in the English Olympics contest held in Lower Austria.</li>
        <li>Volunteer translator at Diakonie</li>
    </ul>

    <section>
        <h4>Training Courses & Certificates:</h4>
        <ul>
            <li>Teacher Training                  American Language Center</li>
            <li>Advertising & Marketing       American Language Center</li>
            <li>Negotiation    Skills                American Language Center</li>
            <li>Management                   American Language Center</li>
            <li>Stock Market and Exchange   American Language Center</li>
            <li>French Courses                  Damascus University (pre-intermediate)</li>
            <li>Teacher Seminar            Educational Research Center            </li>
            <li>Teacher Training            Bunat Alajial Schools</li>
            <li>Entrepreneurship Course      Universitaet Wien</li>
        </ul>
    </section>

    <h4>Areas of Interest:</h4>
    <ul>
        <li>Reading</li>
        <li>Wandering in the nature</li>
        <li>Traveling</li>
        <li>Listening to Music</li>
        <li>Cooking and entertaining friends and family with a meal</li>
        <li>Watching thrillers and documentaries</li>
    </ul>
    <h4>Awards:</h4>
    <ul>
        <li>Best Teacher and Activity Planner 2009-2010 and 2014-2015</li>
    </ul>

    <section class="end">
        <div class="left">
            <h4>References</h4>

            <ul>
                <li>Rainer Hahnekamp (Senior Developer, Instructor and Trainer,New Austrian Coding School)<br> Cell:</li>
                <li>Guillermo Herrero (Senior Developer, Instructor and Trainer,New Austrian Coding School)<br> Cell:</li>
                <li>Susanne Vogler (Eng Coordinator, NMS BGP School, Bad Grosspertholz)<br> Cell: +43 664 3683808</li>
                <li>Raghda Maasarani (Supervisor, B.A Schools, Syria)<br> Cell: +963 99 3397 099  </li>
                <li>Malek Hamadi (GM, Red Crescent, Syria)<br> Cell: +963 95 9999 643</li>



            </ul>
        </div>




        <video class="intro" controls>
        <source src="/assets/video-1554471325.mp4" type="video/mp4">
    </video>
    </section>
</div>